<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {{! CSS }}
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/styles.css" />

      {{! JS }}
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      {{#if_eq title "Home"}}
         <script defer src="/js/home.js"></script>
      {{/if_eq}}
      {{#if_eq title "Admin"}}
         <script defer src="/js/admin.js"></script>
      {{/if_eq}}
      {{#if_eq title "Profile"}}
         <script defer src="/js/profile.js"></script>
      {{/if_eq}}
      <script defer src="/js/main.js"></script>

      <title>{{title}}</title>
   </head>
   <body>
      <h1>Skate Park</h1>
      {{{body}}}
   </body>
</html>